/* 
    Created on : Mar 5, 2019, 11:21:45 AM
    Author     : Rodolfo Godinez
*/

.homeCard {
    background-color: rgba(66,33,99,0.1) !important;
    color: #663399 !important;
}

.homeCard:hover {
    background-color: #663399 !important;
    color: #ffffff !important;
    text-decoration: none;
}

#hero {
    max-height: 600px;
    margin-top: 56px;
    margin-bottom: 20px;
}

.noListStyle:hover, .noListStyle:active {
    text-decoration: none;
}

@media (max-width: 576px) {
    .homeCardSmall {/*Width adjustment for small screens*/
        width: 12rem !important;
    }
}