/* 
    Created on : Mar 5, 2019, 11:21:45 AM
    Author     : Rodolfo Godinez
*/

#homeContent.container-fluid .row h2 {
    z-index: 500;
    margin-top: 100px;
    position: absolute;
    margin-left: 1em;
    color: #ffffff;
}

#timeLineHome, #timeLineLastDays, #timeLineBible {
    width: auto;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
}