#lastDaysContent.container-fluid .row .col-6 h2 {
    z-index: 500;
    position: relative;
    float: right;
    color: #000000;
}

#lastDaysCalendarButtonsContainer {
    padding-left: 0px;
    padding-right: 0px;
}

#lastDaysCalendarButtonsContainer button {
    width: 90%;
    height: 3em;
    font-size: 1.75rem;
    font-weight: 500;
    color: #000000;
}

#lastDaysContent {
    width: 100vw !important;
    /*height: calc(100vh - 116px) !important;*/
    overflow-y: hidden;
}

#lastDaysText {
    width: auto;
    height: calc(100vh - 156px) !important;
}

#dayText, #sunMarch29BtnResult, #monMarch30BtnResult, #tueMarch31BtnResult {
    width: auto;
    height: calc(100vh - 300px) !important;
    overflow-y: scroll;
}

div#lastDaysContent.container-fluid div.row, div#lastDaysContent.container-fluid div.row div.col-6 {
    width: auto;
    /*height: calc(100vh - 156px) !important;*/
    overflow: scroll;
}
