/* 
    Created on : Mar 5, 2019, 11:21:45 AM
    Author     : Rodolfo Godinez
*/

ul {
    list-style: none;
}

nav {
/*    float: none;
    margin-left: auto;
    margin-right: auto;*/
}

#navbarSupportedContent ul {
/*    margin-right: 0px;*/
}

/*.contentContainerFullHeight {
    height: calc(100vh - 116px);
}*/

