/* 
    Created on : Mar 5, 2019, 11:21:45 AM
    Author     : Rodolfo Godinez
*/

/***** HOME PAGE MAP START *****/
/*******************************/

#mapHome, #mapLastDays, #mapJesusTravels, #mapGallery {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

/*#mapLastDays {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}*/

div.mapboxgl-popup-content {
    max-width: 300px;
}

.mapSubHead {
    font-size: 1.25em;
    font-weight: bold;
}

/*******************************/
/***** HOME PAGE MAP END *******/