/***** HOME PAGE MAP START *****/
/*******************************/

#mapHome {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

#mapLastDays {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

/*******************************/
/***** HOME PAGE MAP END *******/