/* 
    Created on : Mar 5, 2019, 11:21:45 AM
    Author     : Rodolfo Godinez
*/

/***** HOME PAGE MAP START *****/
/*******************************/

#mapHome {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

#mapLastDays {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

/*******************************/
/***** HOME PAGE MAP END *******/